body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-around;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    margin: 20px;
}

.board {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    
    display: grid;
    background-color: rgb(255, 255, 255);
    
}

.board div {
    border: 1px solid black;
}